.example-spacer {
    flex: 1 1 auto; 
}
  
  .example-button-row a {
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mat-toolbar-row{
    height: fit-content;
  }
  .mat-toolbar{
    height: fit-content;
  }
 